.App {
  text-align: center;
}

nav {
  padding: 1rem 2rem;
  background-color: blue;
  color: #fff;
}

.containerComponentCountry {
  display: flex;
}

h4 {

  font-size: 14px;
  margin: 0;

}

.containerPaysLink {
  width: 14rem;
  height: 5rem;
  margin-left: 5rem;
  border: 1px solid rgba(128, 128, 128, 0.263);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.containerPaysLink:hover {


background-color: rgba(198, 198, 198, 0.273);

}